@import '../../variables.module.scss';



.sandwave{padding:0.5em; background-color:green; clip-path: polygon(100% 100%, 0% 100% , 0.00% 99.33%, 1.00% 98.73%, 2.00% 96.92%, 3.00% 93.96%, 4.00% 89.91%, 5.00% 84.88%, 6.00% 79.00%, 7.00% 72.40%, 8.00% 65.24%, 9.00% 57.72%, 10.00% 50.00%, 11.00% 42.28%, 12.00% 34.76%, 13.00% 27.60%, 14.00% 21.00%, 15.00% 15.12%, 16.00% 10.09%, 17.00% 6.04%, 18.00% 3.08%, 19.00% 1.27%, 20.00% 0.67%, 21.00% 1.27%, 22.00% 3.08%, 23.00% 6.04%, 24.00% 10.09%, 25.00% 15.12%, 26.00% 21.00%, 27.00% 27.60%, 28.00% 34.76%, 29.00% 42.28%, 30.00% 50.00%, 31.00% 57.72%, 32.00% 65.24%, 33.00% 72.40%, 34.00% 79.00%, 35.00% 84.88%, 36.00% 89.91%, 37.00% 93.96%, 38.00% 96.92%, 39.00% 98.73%, 40.00% 99.33%, 41.00% 98.73%, 42.00% 96.92%, 43.00% 93.96%, 44.00% 89.91%, 45.00% 84.88%, 46.00% 79.00%, 47.00% 72.40%, 48.00% 65.24%, 49.00% 57.72%, 50.00% 50.00%, 51.00% 42.28%, 52.00% 34.76%, 53.00% 27.60%, 54.00% 21.00%, 55.00% 15.12%, 56.00% 10.09%, 57.00% 6.04%, 58.00% 3.08%, 59.00% 1.27%, 60.00% 0.67%, 61.00% 1.27%, 62.00% 3.08%, 63.00% 6.04%, 64.00% 10.09%, 65.00% 15.12%, 66.00% 21.00%, 67.00% 27.60%, 68.00% 34.76%, 69.00% 42.28%, 70.00% 50.00%, 71.00% 57.72%, 72.00% 65.24%, 73.00% 72.40%, 74.00% 79.00%, 75.00% 84.88%, 76.00% 89.91%, 77.00% 93.96%, 78.00% 96.92%, 79.00% 98.73%, 80.00% 99.33%, 81.00% 98.73%, 82.00% 96.92%, 83.00% 93.96%, 84.00% 89.91%, 85.00% 84.88%, 86.00% 79.00%, 87.00% 72.40%, 88.00% 65.24%, 89.00% 57.72%, 90.00% 50.00%, 91.00% 42.28%, 92.00% 34.76%, 93.00% 27.60%, 94.00% 21.00%, 95.00% 15.12%, 96.00% 10.09%, 97.00% 6.04%, 98.00% 3.08%, 99.00% 1.27%, 100.00% 0.67%);
}

.sandwave, .chatinput {background-image: radial-gradient($footer1 2px, transparent 2px), radial-gradient($footer1 2px, transparent 2px);
  background-size: 16px 16px;
  background-position: 0 0, 8px 8px;
  
background-color: $footer3;}

.chatinput {
  display:flex;
  justify-content: space-between;
  padding: 1em;
}

.inputfield {
  background-color: $primary;
  padding: $spacing-small;
  color:white;
  min-width: 30vw;
  margin-right: $spacing-normal;
}
