@import '../../variables.modules.scss';

.chatinput {
  display:flex;
  justify-content: space-between;
  padding: 1em;
}

.inputfield {
  background-color: $primary;
  padding: $spacing-small;
  color:white;
  min-width: 30vw;
  margin-right: $spacing-normal;
}
