@import '../../variables.module.scss';

details > summary {
  list-style: none;
}
details > summary::marker, /* Latest Chrome, Edge, Firefox */ 
details > summary::-webkit-details-marker /* Safari */ {
  display: none;
}
.question { text-align: right; padding: $spacing-big $spacing-big 0 0;}
.question_icon {cursor:pointer; font-size: $spacing-xl; background-color:black; border-radius: 50%;}
.chatbody {z-index:1; padding-right: 2em;}
.chatbodyContent {
  position:relative;height:43vw; min-height: 43vw;display: flex; justify-content: flex-end;
}