@import '../../variables.modules.scss';

.chatpage {display:flex; flex-flow: column; height: 100%; background-image: radial-gradient($footer1 2px, transparent 2px), radial-gradient($footer1 2px, transparent 2px);
    background-size: 16px 16px;
    background-position: 0 0, 8px 8px;
    
background-color: $footer3;}
