@import './variables.modules.scss';

//mobile & general


body {
    font-family: $primary-font;
    color: $font-color;
    background-color: $primary;
    margin: 0;
    height: 100vh;
    overflow: hidden;
}

#root {margin:0; height:100%}

// h1 {
//     font-size: $h1-font-size-mobile;
//     font-weight: bold;
//     color: $secondary;
//     text-align: center;
// }

// h2 {
//     font-size: $h2-font-size;
//     font-weight: bold;
//     color: $secondary;
// }
// h3 {
//     font-size: $h3-font-size;
//     font-weight: bold;
// }

// p {
//     font-size: $p-font-size;
// }

.btn {
    border: 3px solid;
    border-radius: 12px;
    padding: $spacing-small;  
    letter-spacing: 0.2em;
    box-shadow: 3px 3px 10px -3px $darkgrey;
    background-color: $primary;
    &:hover {
        cursor: pointer;
    }
    &:active {
        background-color: rgba(112, 112, 112, 0.64);
    }
}

.primary-btn {
    @extend .btn;
    border-color: $accent; 
    color: $accent;  
    &:hover {
        background-color: $accent-dark;
        color: white;
    }
}

.secondary-btn {
    @extend .btn;
    border-color: $secondary-btn;
    color: $secondary-btn;
    &:hover {      
        background-color: $secondary-btn-dark;
        color: white;
    }
}

//tablet

// @media (min-width: 480px) and (max-width: 768px) {
//     h1 {
//         font-size: $h1-font-size-tablet;
//     }
// }

// //desktop

// @media (min-width: 769px) {
//     h1 {
//         font-size: $h1-font-size-desktop;
//     }
// }
