@import './variables.module.scss';

//mobile & general


body {
    font-family: $primary-font;
    color: $font-color;
    background-color: $primary;
    margin: 0;
    height: 100vh;
    max-height: 100vh;
}

#root {margin:0; height:100%; max-height: 100%;}

input {
    padding: $spacing-small;
    border-radius: 5px;
    font-family: $primary-font;
  }
  

.btn {
    border: 3px solid;
    border-radius: 12px;
    padding: $spacing-small;  
    letter-spacing: 0.2em;
    box-shadow: 3px 3px 10px -3px $darkgrey;
    background-color: $primary;
    &:hover {
        cursor: pointer;
    }
    &:active {
        background-color: rgba(112, 112, 112, 0.64);
    }
    transition: background-color 0.3s
}

.primary-btn {
    @extend .btn;
    border-color: $accent; 
    color: $accent;  
    &:hover {
        background-color: $accent-dark;
        color: white;
    }
}

.secondary-btn {
    @extend .btn;
    border-color: $secondary-btn;
    color: $secondary-btn;
    &:hover {      
        background-color: $secondary-btn-dark;
        color: white;
    }
}

.tertiary-btn { 
    @extend .btn;
    border-color: $tertiary-btn;
    color: $tertiary-btn;
    &:hover {      
        background-color: $tertiary-btn-dark;
        color: white;
    }}