// color variables

$darkgrey: rgba(0, 0, 0, 0.2);
$grey: #707070;
$lightgrey: #c3c3c3;



$primary: black;
$font-color: lightgray;
$accent: #39a29b;
$accent-dark: #2a6f69;
$secondary-btn: #b4467d;
$secondary-btn-dark: #642a47;
$footer1: rgba(132, 139, 78, 0.2);
$footer2: #332f15;
$footer3: #202317;

$btn-hover: #afe3df;
$btn-active: #707070a3;

// fonts
$primary-font: 'verdana', sans-serif;
$small-font: 'verdana';

// spacing
$spacing-xl: 2em;
$spacing-big: 1.5em;
$spacing-normal: 1em;
$spacing-small: 0.5em;
